.container {
  width: 100%;
  margin-left: 0rem;
  padding: 0 5rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.question__wrapper {
  width: 100%;
}

@media screen and (min-width: 874px) {
  .container {
    margin-left: 10rem;
    padding: 0rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .question__wrapper {
    width: 32rem;
  }
}
