.container {
  max-width: 40%;
  min-height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  width: 100%;
  height: auto;
  display: none;
}

.pattern {
  min-width: 86rem;
  height: auto;
}

.woman__image {
  min-width: 45rem;
  height: auto;
  margin-left: -5rem;
  z-index: 50;
  display: none;
}

@media screen and (min-width: 874px) {
  .imageWrapper {
    display: block;
    position: absolute;
    left: -50rem;
    top: -25rem;
  }
}

@media screen and (min-width: 874px) {
  .woman__image {
    display: block;
  }
}
