@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --bg-gradient-start: hsl(273, 75%, 66%);
  --bg-gradinet-end: hsl(240, 73%, 65%);
  --bg-color-card: hsl(0, 0%, 100%);
  --text-color: hsl(238, 29%, 16%);
  --text-color-light: hsl(237, 12%, 33%);
  --text-color-lighter: hsl(240, 6%, 50%);
  --text-color-red: hsl(14, 88%, 65%);
  --divider-color: hsl(240, 5%, 91%);
  --shadow-color: hsl(237, 12%, 33%);
}

html {
  font-size: 62.5%;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-gradient-start),
    var(--bg-gradinet-end)
  );
}

/* 
body min-height can be remove later
*/
